body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

#main-header {
  height: 75px;
  box-shadow: 0 0 5px #333;
  background: #666;
  display: flex;
  align-items: center;
  justify-content: center; }
  #main-header .nav-link {
    display: inline-block;
    padding: 10px 15px;
    background: crimson;
    color: white;
    text-decoration: none; }
    #main-header .nav-link.is-active {
      background: teal; }

.main-sct {
  display: none; }

#sct-random {
  box-sizing: border-box;
  padding: 25px;
  justify-content: center; }
  #sct-random figure {
    box-shadow: 0 0 3px #333;
    padding: 5px;
    max-width: 80%; }
    #sct-random figure img {
      max-width: 100%; }

.container-table {
  height: 180px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 20px 0; }
  .container-table .table {
    border-collapse: collapse;
    width: 100%; }
    .container-table .table th {
      background-color: #ccc;
      border-bottom: 2px solid #949494;
      color: #3c3c3c;
      text-transform: uppercase; }
    .container-table .table tr {
      border-top: 1px solid #cfcfcf; }
    .container-table .table th, .container-table .table td {
      font-size: 15px;
      padding: 10px 30px; }
